# Solea - API

Support non officiel de l'API de SOLEA, réseau de transport en commun de l'agglomération de Mulhouse (m2a).
D'autres données annexes sont également récupérées. (Navette centre-ville de Mulhouse, voir la [documentation](#Navette)).

> [!WARNING]  
> Ce module n'est pas officiel et n'est pas affilié à SOLEA ni d'autres tiers.
> Les données récupérées peuvent ne pas être à jour ou incorrectes.
> De même, les auteurs de ce module ne sont pas responsables de l'utilisation que vous en faites. Ce code est donné "en l'état".
> Enfin, ceci ne constitue en aucune manière une documentation de l'API de SOLEA ni des autres services. Leurs formats de donnée peuvent d'ailleurs changer à tout moment.
> Afin de ne pas surcharger les serveurs de SOLEA, merci de ne pas abuser de ce module, surtout la fonctionnalité "itinéraire".

{{>main}}

* * *

<a name="Navette"></a>

### Position de la Navette de Mulhouse, par Soléa (Transports Mulhouse Agglomération)

*Préambule :*
> L'utilisateur peut récupérer via l'application Soléa la position de la (des) navette(s) actuellement présente dans le centre ville de Mulhouse.
> Cela ce fait via un socket utilisé par l'application Android.
> Etant un socket TCP, la récupération ne peut pas se faire directement sur une page web. 
> Le processus de récupération des posiitons des navettes est de ce fait complètement différent.

**C'est pour cela que ce module n'inplémente pas (et n'implémentera jamais) la récupération de la position des navettes.**

Cependant, voici quelques informations pouvant être utiles :

* **Adresse du serveur :** `lanavette.mulhouse.fr`
* **Port du serveur :** `18099`
* **Type de socket :** `TCP`

Le type retourné est `NavetteSocketData` :
```typescript
export interface NavettePosition {
  id: string
  lng: number
  lat: number
  tmstp: number
  old?: boolean
}

export type NavetteSocketData = {
  [id: string]: NavettePosition
}
```
De plus, lors du premier message reçu par le serveur via le socket, il n'y a pas de champ "old", sinon il y a un champ "old" qui semble rester à *false* tout le temps.

(Ex. : `{"5868f5dbf6105d2c":{"id":"5868f5dbf6105d2c","lng":7.332557,"lat":47.747186,"tmstp":1732365820,"old":false}}`)

*Exemple de code pour récupérer les données :*

```bash
socat STDIO TCP4:lanavette.mulhouse.fr:18099
```

```javascript
const net = require('net')
const client = new net.Socket()

client.connect(18099, 'lanavette.mulhouse.fr', () => {
  console.log('Connecté !')
})
client.on('data', (data) => {
  const json = JSON.parse(data.toString())
  console.log('Nouvelle position :', json)
})
client.on('close', () => {
  console.log('Connexion fermée')
})
// Fermeture de la connexion après 10s
setTimeout(() => {
  client.destroy()
}, 10000)
```

* * *

&copy; 2025 NonozgYtb

*Avec l'aide et en reprenant la structure d'un projet de : [Maël Gangloff](https://maelgangloff.fr/)*
