name: Publish package (npm.pkg.github.com)

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rm .npmrc || true
      - run: sed -i 's|https://registry.npmjs.org/|https://npm.pkg.github.com|g' package.json || true
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
      - run: npm install
      - run: npm run all
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
