name: Publish package (npm.com)

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rm .npmrc || true
      - run: sed -i 's|https://npm.pkg.github.com|https://registry.npmjs.org/|g' package.json || true
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          # Defaults to the user or organization that owns the workflow file
          scope: '@nonozgytb'
      - run: npm install
      - run: npm run all
      - run: npm publish --provenance --access public
